@tailwind base;
@tailwind components;
@tailwind utilities;

.graybg{
    background-color: #E9E9E9;
}
.orangebg{
    background-color: #fc872e;
}
.post{
    max-width:75% ;
    width:600px
}
.main{
    min-height: calc(100vh - 64px);
}
.purple:hover{
    color: #6729FF;
}
.topm{
    top: -14px;
}

.top-screen{
    top:calc(100vh - 95px  );
}
.ring-orange {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(252 135 46 / var(--tw-ring-opacity));
}